

/* Student Dashboard */

.profile_dashboard{
    background: linear-gradient(355deg, #C5CFE3 -18.73%, rgba(247, 247, 247, 0.7) 71.43%), url("./images/bg.jpeg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    /* background-position: -100px -400px; */
    background-position: center;
    background-attachment: fixed; 
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
}


.welcome_widget{
    background-color: var(--coolBlue);
}

.profile_section_wrapper{
    
    /* border: 1px solid red; */
    height: 500px;
}

.profile_section{
    /* border: 2px solid green; */
    width: 90%;
    gap: 1%;
}

.profile_section_one{
    /* flex: 2.5; */
    width: 29%;
}

.profile_section_two{
    width: 70%;
}

@media(max-width:1200px){
    .profile_section_one{
        width: 34%;
    }
    
    .profile_section_two{
        width: 65%;
    
    }
}

@media(max-width:991px){
    .profile_section_one{
        width: 44%;
    }
    
    .profile_section_two{
        width: 55%;
    }
}

@media(max-width:767px){
    .profile_section_one{
        width: 49%;
    }
    
    .profile_section_two{
        width: 50%;
    }
}


@media(max-width:575px){
    .profile_section_one{
        flex: unset;
        width: 90%;
    }
    
    .profile_section_two{
        flex: unset;
        width: 90%;
    
    }

    .profile_section{
        /* width: 90%; */
        gap: unset;
    }
}


.editPersonalDetailsModal{
    position: absolute;
    top: 120px;
    left: 150px;
    width: 500px;
}

@media(max-width:991px){
    .editPersonalDetailsModal{
        width: 300px;
        left: 50px;
    }
}

@media(max-width:576px){
    .editPersonalDetailsModal{
        width: 75%;
        left: 100px;
    }
}


@media(max-width:430px){
    .editPersonalDetailsModal{
        /* width: 250px; */
        left: 30px;
    }
}