

.personal_details{
    border: 1px solid #B4B2B2;
    border-radius: 18px;

}

.profile_btn{
    border: 1px solid var(--crimsonRed);
    border-radius: 18px;
    background: white;
    padding: 10px 25px;

}
.profile_link{
    /* width: 13%; */
    /* flex: 0.5; */
}
.profile_link_text{
    /* width: 80%; */
    /* flex: 2; */
    /* font-size: 12px; */
}


/* border: 1px solid #B4B2B2 */